.p
  = render 'wiki/parts/nav'

%p
  = @wiki_page.title
  
- @versions.each do |version|
  %p
    = version.version
    
    = version.user.name
    
    = version.action
    
    = version.audited_changes

    = version.created_at
    
  %p
    = link_to '回滚到该版本', "/wiki/#{version.version}/page_rollback", :confirm => '是否确定回滚到该版本'
