.p
  = render 'wiki/parts/nav'

%p
  = @wiki_page.title
  
- @versions.each do |version|
  %p
    = version.id
    
    = version.user.name
    
    = version.action
    
    = version.audited_changes

    = version.created_at
    
